asdf


<div id="ans" onclick="ki()"> Click koro </div>
<script>
    
    function ki(){
        var array = ["ami","tumi","sha"];
        document.getElementById("ans").innerHTML=array['1'];

    }
    
    
</script> 


<script>
    var car = {name:'Corola', model:'406' , color:'Red'};
    document.getElementById("ans").innerHTML='Amar'+ ' ' + car.name + ' ' + 'gari' + ' ' + 'Model' + ' ' + car.model + ' ' + 'color' + ' ' + car.color;
</script>



<input onmouseover="document.getElementById('demo').innerHTML=Date()" type="text" value="">

<button onchange="document.getElementById('demo').innerHTML=Date()">The time is?</button>

<h1 onmouseover="document.getElementById('demo').innerHTML=Data()"> ki r korbo </h1>

<p id="demo"></p>

